/* -------------------------------------
*  Wow template
* -------------------------------------
* creator = Faldan@voljin
* data = 22/05/2017
* wow = Legion (yellow version)
* -------------------------------------*/
/* TO MODIFY */


/* Background image
* -------------------------------------*/
body.theme--wow {
    background: url("../images/backgrounds/bg-legion-top.jpg") center -200px no-repeat,url("../images/backgrounds/bg-Legion-repeat.jpg") center 1800px repeat-y #231a13;
}
.theme--wow #menu-header,
.theme--wow #menuSub-header {
	background-image: url("../images/banners/Legion-glass.jpg");
	background-position: center 0;
	background-repeat: no-repeat;
}
.theme--wow.glass-header #menu-header {
	background-position: center bottom -40px;
    background-repeat: no-repeat;
}
.theme--wow.glass-header #menuSub-header {
	background-position: center bottom -2px;
    background-repeat: no-repeat;
}
.theme--wow .div--banner,
.theme--wow .div--banner-resp  {
    background-position: center top;
    background-repeat: no-repeat;
}
.theme--wow .div--banner {
	background-image: url("../images/banners/Legion-glass.jpg");
	height: 300px;
}
.theme--wow .div--banner-resp {
	background-image: url("../images/banners/legion-resp.jpg");
	height: 175px;
}
.theme--wow .modal .div--banner-resp {
	height: 125px;
}
.theme--wow .div--banner .img--guild-logo {
	margin-top: 25px;
	max-height: 200px;
}
.theme--wow .ui-widget-header .ui-icon {
	background-image: url("../images/icones/ui-icons_orange_normal.png");
}
.theme--wow .ui-state-hover .ui-icon,
.theme--wow .ui-state-focus .ui-icon,
.theme--wow .ui-button:hover .ui-icon,
.theme--wow .ui-button:focus .ui-icon {
	background-image: url("../images/icones/ui-icons_orange_hover.png");
}
.theme--wow .raidSignup--title {
	background: linear-gradient(to right, transparent 0,transparent 25%, rgba(33,21,16,0.1) 50%,transparent 100%);
}
/* opacity 
* -------------------------------------*/
.theme--wow .div-raid .raid--img img {
	opacity: 0.5;
}
.theme--wow .table-calendar tbody td:hover > .div-raid .raid--img img,
.theme--wow .table-calendar tbody tr.tr--eventResp:hover > td > .div-raid .raid--img img {
	opacity: 0.9;
}
/* Background 
* -------------------------------------*/
.theme--wow .table-section tbody tr:nth-of-type(odd) {
	background-color: rgba(0,0,0,0.1);
}
.theme--wow .popover-content .sectionCard--header,
.theme--wow .table-section tbody tr,
.theme--wow .table-calendar tbody td.saturday,
.theme--wow .table-calendar tbody td.sunday,
.theme--wow .menu .nav-chip--contact,
.theme--wow .menu .nav-chip--contact-img-bg,
.theme--wow .menu .nav-chip--action,
.theme--wow .menuSub .nav-item:focus, 
.theme--wow .menuSub .nav-item:hover,
.theme--wow .menuResp .nav-chip--contact-img-bg,
.theme--wow .menuResp .nav-chip--contact-img-bg.img--class-icon {
	background-color: rgba(0,0,0,0.2);
}
.theme--wow .sectionCard--header,
.theme--wow .sectionCard--header:first-child,
.theme--wow .sectionCard--footer,
.theme--wow .table-section thead tr,
.theme--wow .table-calendar thead th,
.theme--wow .div-raid .raid--option,
.theme--wow .raidSignup--title {
	background-color: rgba(0,0,0,0.4);
}
.theme--wow .inputCard,
.theme--wow .custom-checkcheckbox,
.theme--wow .custom-control-input:checked ~ .custom-checkcheckbox,
.theme--wow .custom-control-input:active ~ .custom-checkcheckbox,
.theme--wow .custom-control-input:indeterminate ~ .custom-checkcheckbox,
.theme--wow .custom-control-input:focus ~ .custom-checkcheckbox,
.theme--wow .custom-control-input:hover ~ .custom-checkcheckbox,
.theme--wow .custom-control-input:hover ~ .custom-checkcheckbox--border   {
	background-color: rgba(0,0,0,0.5);
}
.theme--wow .menu .nav-chip--contact-img-bg.img--class-icon {
	background-color: rgba(0,0,0,0.6);	
}
.theme--wow .raidCharacter--class {
	background-color: rgba(0,0,0,0.8);
}
.theme--wow .tooltip-inner,
.theme--wow .inputCard-border:hover,
.theme--wow .inputCard-border:focus {
	background-color: rgba(0,0,0,1);
}
.theme--wow .raid-modal-body,
.theme--wow .ui-datepicker .ui-widget-header,
.theme--wow .menu,
.theme--wow .menuSub,
.theme--wow .dropdown-menu .dropdown-item:hover,
.theme--wow .dropdown-menu .dropdown-item:focus,
.theme--wow .dropdown-menu .dropdown-divider,
.theme--wow .modal-content .modal-resp-body,
.theme--wow .modal-resp-body .menuResp-divider,
.theme--wow .sectionCard  {
	background-color: rgba(255,255,255,0.1);
}
.theme--wow .popover,
.theme--wow .popover-title,
.theme--wow .modal-header.raid-modal-header,
.theme--wow .modal-footer.raid-modal-footer,
.theme--wow .ui-datepicker .ui-datepicker-prev-hover,
.theme--wow .ui-datepicker .ui-datepicker-prev-hover:hover,
.theme--wow .ui-datepicker .ui-datepicker-next-hover,
.theme--wow .ui-datepicker .ui-datepicker-next-hover:hover,
.theme--wow .ui-datepicker .ui-datepicker-calendar,
.theme--wow .ui-state-default,
.theme--wow .ui-widget-content .ui-state-default,
.theme--wow .ui-widget-header .ui-state-default,
.theme--wow .ui-button,
.theme--wow .ui-state-default a,
.theme--wow .ui-state-default a:link,
.theme--wow .ui-state-default a:visited,
.theme--wow a.ui-button,
.theme--wow a:link.ui-button,
.theme--wow a:visited.ui-button,
.theme--wow .ui-button,
.theme--wow .page-item .page-link-custom,
.theme--wow .page-item.disabled .page-link-custom,
.theme--wow .table-calendar,
.theme--wow .table-calendar tbody tr.tr--eventResp.today,
.theme--wow .table-calendar tbody tr.tr--eventResp:hover,
.theme--wow .dropdown-menu .dropdown-item,
.theme--wow .modal-header.modal-resp-header,
.theme--wow .menuSubResp .card {
	background-color: transparent;
}
.theme--wow .ui-state-hover,
.theme--wow .ui-widget-content .ui-state-hover,
.theme--wow .ui-widget-header .ui-state-hover,
.theme--wow .ui-state-focus,
.theme--wow .ui-widget-content .ui-state-focus,
.theme--wow .ui-widget-header .ui-state-focus,
.theme--wow .ui-button:hover,
.theme--wow .ui-button:focus,
.theme--wow .ui-state-hover a,
.theme--wow .ui-state-hover a:hover,
.theme--wow .ui-state-hover a:link,
.theme--wow .ui-state-hover a:visited,
.theme--wow .ui-state-focus a,
.theme--wow .ui-state-focus a:hover,
.theme--wow .ui-state-focus a:link,
.theme--wow .ui-state-focus a:visited,
.theme--wow a.ui-button:hover,
.theme--wow a.ui-button:focus,
.theme--wow .page-item .page-link-custom:hover {
	background-color: rgba(176,102,1,0.3);
}
.theme--wow .ui-state-highlight,
.theme--wow .ui-widget-content .ui-state-highlight,
.theme--wow .ui-widget-header .ui-state-highlight,
.theme--wow .ui-state-highlight a,
.theme--wow .ui-widget-content .ui-state-highlight a,
.theme--wow .ui-widget-header .ui-state-highlight a,
.theme--wow .ui-state-highlight:hover,
.theme--wow .ui-widget-content .ui-state-highlight .ui-state-hover:hover,
.theme--wow .ui-widget-header .ui-state-highlight .ui-state-hover:hover,
.theme--wow .page-item.active .page-link-custom  {
	background-color: rgba(176,102,1,0.7);
}
.theme--wow .page-item.active .page-link-custom:hover {
	background-color: rgba(176,102,1,1);
}
.theme--wow .modal-content.raid-modal-content,
.theme--wow .ui-datepicker.ui-widget-content,
.theme--wow .dropdown-menu,
.theme--wow .navbar.navbar-resp,
.theme--wow .modal-content.modal-resp-content,
.theme--wow .popover-content {
	background-color: rgba(33,21,16,1);
}
.theme--wow .table-section tbody tr:hover,
.theme--wow .table-calendar tbody td:hover,
.theme--wow .table-calendar tbody td.saturday:hover,
.theme--wow .table-calendar tbody td.sunday:hover,
.theme--wow .table-calendar tbody td.today:hover,
.theme--wow .table-calendar tbody tr.tr--eventResp:hover,
.theme--wow .table-calendar tbody tr.tr--eventResp:hover > td {
	background-color: rgba(80,65,55,0.4);
}
.theme--wow .table-calendar tbody td.today,
.theme--wow .table-calendar tbody tr.tr--eventResp.today,
.theme--wow .table-calendar tbody tr.tr--eventResp.today > td {	
	background-color: rgba(164,124,28,0.1);
}
.theme--wow .table-calendar tbody td.nomonthday,
.theme--wow .table-calendar tbody td.nomonthday:hover {
	background-color: rgba(177,153,127,0.1);
}
/* Border-color 
* -------------------------------------*/
.theme--wow .table-section thead th,
.theme--wow .table-section tbody td,
.theme--wow .menu,
.theme--wow .menuSub,
.theme--wow .sectionCard,
.theme--wow .table-calendar tbody td.nomonthday,
.theme--wow .table-calendar tbody td.nomonthday:hover,
.theme--wow .table-calendar tbody td {
	border-color: rgba(255,255,255,0.1);
}
.theme--wow .navbar.navbar-resp,
.theme--wow .modal-header.modal-resp-header,
.theme--wow .div-bordered {
	border-color: rgba(255,255,255,0.2);
}
.theme--wow .inputCard-border,
.theme--wow .custom-checkcheckbox--border {
	border-color: rgba(80,65,55,1);
}
.theme--wow .inputCard-border:hover,
.theme--wow .custom-control-input:hover ~ .custom-checkcheckbox--border,
.theme--wow .table-section tbody tr:hover {
	border-color: rgba(164,124,28,1);
}
.theme--wow .page-item.disabled .page-link-custom {
	border-color: rgba(199,126,25,0.3);
}
.theme--wow .ui-state-default,
.theme--wow .ui-widget-content .ui-state-default,
.theme--wow .ui-widget-header .ui-state-default,
.theme--wow .ui-button,
.theme--wow .ui-state-default a,
.theme--wow .ui-state-default a:link,
.theme--wow .ui-state-default a:visited,
.theme--wow a.ui-button,
.theme--wow a:link.ui-button,
.theme--wow a:visited.ui-button,
.theme--wow .ui-button,
.theme--wow .page-item .page-link-custom {
	border-color: rgba(199,126,25,1);
}
.theme--wow .inputCard-border:focus,
.theme--wow .tooltip-inner,
.theme--wow .popover,
.theme--wow .modal-content.raid-modal-content,
.theme--wow .ui-datepicker.ui-widget-content,
.theme--wow .ui-state-hover,
.theme--wow .ui-widget-content .ui-state-hover,
.theme--wow .ui-widget-header .ui-state-hover,
.theme--wow .ui-state-focus,
.theme--wow .ui-widget-content .ui-state-focus,
.theme--wow .ui-widget-header .ui-state-focus,
.theme--wow .ui-button:hover,
.theme--wow .ui-button:focus,
.theme--wow .ui-state-hover a,
.theme--wow .ui-state-hover a:hover,
.theme--wow .ui-state-hover a:link,
.theme--wow .ui-state-hover a:visited,
.theme--wow .ui-state-focus a,
.theme--wow .ui-state-focus a:hover,
.theme--wow .ui-state-focus a:link,
.theme--wow .ui-state-focus a:visited,
.theme--wow a.ui-button:hover,
.theme--wow a.ui-button:focus,
.theme--wow .ui-state-highlight,
.theme--wow .ui-widget-content .ui-state-highlight,
.theme--wow .ui-widget-header .ui-state-highlight,
.theme--wow .ui-state-highlight a,
.theme--wow .ui-widget-content .ui-state-highlight a,
.theme--wow .ui-widget-header .ui-state-highlight a,
.theme--wow .ui-state-highlight:hover,
.theme--wow .ui-widget-content .ui-state-highlight .ui-state-hover:hover,
.theme--wow .ui-widget-header .ui-state-highlight .ui-state-hover:hover,
.theme--wow .page-item .page-link-custom:hover,
.theme--wow .page-item.active .page-link-custom,
.theme--wow .page-item.active .page-link-custom:hover {
	border-color: rgba(248,183,0,1);
}
.theme--wow .ui-datepicker .ui-datepicker-prev-hover,
.theme--wow .ui-datepicker .ui-datepicker-prev-hover:hover,
.theme--wow .ui-datepicker .ui-datepicker-next-hover,
.theme--wow .ui-datepicker .ui-datepicker-next-hover:hover,
.theme--wow .table-calendar {
	border-color: transparent;
}
.theme--wow .div--banner {
	border-top-color: rgba(0,0,0,1);
}
.theme--wow .modal-footer.raid-modal-footer,
.theme--wow .sectionCard--footer,
.theme--wow .sectionCard--header,
.theme--wow .sectionCard--content .content--divider,
.theme--wow .div--banner-resp {
	border-top-color: rgba(255,255,255,0.2);
}
.theme--wow .popover.popover-top::before, .popover.bs-tether-element-attached-bottom::before {
	border-top-color: rgba(248,183,0,1);
}
.theme--wow .popover.popover-top::after, .popover.bs-tether-element-attached-bottom::after {
	border-top-color: transparent;
}
.theme--wow .menuSub .nav-item {
	border-right-color: rgba(255,255,255,0.1);
}
.theme--wow .tooltip.tooltip-right .tooltip-inner::before, .tooltip.bs-tether-element-attached-left .tooltip-inner::before,
.theme--wow .popover.popover-right::before, .popover.bs-tether-element-attached-left::before  {
	border-right-color: rgba(248,183,0,1);
}
.theme--wow .raidCharacter--class {
	border-right-color: rgba(0,0,0,0.2);
}
.theme--wow .popover.popover-right::after, .popover.bs-tether-element-attached-left::after,
.theme--wow .table-section thead th:last-child,
.theme--wow .table-section tbody td:last-child,
.theme--wow .table-calendar thead th:last-child,
.theme--wow .table-calendar tbody td:last-child   {
	border-right-color: transparent;
}
.theme--wow .popover.popover-left::before, .popover.bs-tether-element-attached-right::before {
	border-left-color: rgba(248,183,0,1);
}
.theme--wow .popover.popover-left::after, .popover.bs-tether-element-attached-right::after,
.theme--wow .table-section thead th:first-child,
.theme--wow .table-section tbody td:first-child,
.theme--wow .table-calendar thead th:first-child,
.theme--wow .table-calendar tbody td:first-child {
	border-left-color: transparent;
}
.theme--wow .modal-header.raid-modal-header,
.theme--wow .ui-datepicker .ui-widget-header,
.theme--wow .sectionCard--footer,
.theme--wow .sectionCard--header,
.theme--wow .sectionCard--header:first-child,
.theme--wow .div--banner {
	border-bottom-color: rgba(255,255,255,0.2);
}
.theme--wow .sectionCard--header.header--raid {
	border-top-color: rgba(255,255,255,0.2);
}
.theme--wow .div--raidSignup:first-child,
.theme--wow .div--raidSignup:last-child {
	border-color: rgba(0,0,0,0.4);
}
.theme--wow .div--raidSignup {
	border-top-color: rgba(0,0,0,0.4);
	border-bottom-color: rgba(0,0,0,0.4);
}
@media (max-width: 768px) {
	.theme--wow .div--raidSignup  {
		border-left-color: rgba(0,0,0,0.4);
		border-right-color: rgba(0,0,0,0.4);
		border-bottom-color: transparent;
		border-top-color: transparent;
	}
	.theme--wow .div--raidSignup:first-child {
		border-bottom-color: transparent;
	}
	.theme--wow .div--raidSignup:last-child {
		border-top-color: transparent;
	}
}
/* box-shadow 
* -------------------------------------*/
.theme--wow .popover-content .sectionCard,
.theme--wow .raidSignup--title,
.theme--wow .table-calendar tbody td {
	box-shadow: none;
}
.theme--wow .div-shadow,
.theme--wow .modal-content.raid-modal-content,
.theme--wow .ui-datepicker.ui-widget-content,
.theme--wow .sectionCard,
.theme--wow .navbar.navbar-resp,
.theme--wow .modal-content.modal-resp-content {
	box-shadow: 0 0 0 1px rgba(0,0,0,1);
}
.theme--wow .div--raidCharacter {
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}
.theme--wow .menu .nav-chip--contact,
.theme--wow .menu .nav-chip--contact-img-bg,
.theme--wow .menu .nav-chip--contact-img-bg.img--class-icon,
.theme--wow .menuResp .nav-chip--contact-img-bg,
.theme--wow .menuResp .nav-chip--contact-img-bg.img--class-icon {
	box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
}
.theme--wow .div-shadow--bottom {
	box-shadow: 0 1px 0 1px rgba(0,0,0,1);
}
/* outline 
* -------------------------------------*/
.theme--wow .inputCard-border,
.theme--wow .custom-checkcheckbox--border {
	outline-color: rgba(0,0,0,1);
}
.theme--wow .div-raid .raid--img {
	outline-color: rgba(0,0,0,0.4);
}
.theme--wow .table-calendar tbody td.today,
.theme--wow .table-calendar tbody tr.tr--eventResp.today,
.theme--wow .table-calendar tbody tr.tr--eventResp.today > td {	
	outline-color: rgba(164,124,28,0.7);
}
.theme--wow .div--raidCharacter:hover,
.theme--wow .table-calendar tbody td:hover,
.theme--wow .table-calendar tbody td.saturday:hover,
.theme--wow .table-calendar tbody td.sunday:hover,
.theme--wow .table-calendar tbody td.today:hover,
.theme--wow .table-calendar tbody tr.tr--eventResp:hover,
.theme--wow .table-calendar tbody tr.tr--eventResp:hover > td {
	outline-color: rgba(164,124,28,1);
}
.theme--wow .table-section tbody tr:hover {
	outline-color: rgba(164,124,28,1);
}
/* color 
* -------------------------------------*/
.theme--wow a,
.theme--wow .ui-state-default,
.theme--wow .ui-widget-content .ui-state-default,
.theme--wow .ui-widget-header .ui-state-default,
.theme--wow .ui-button,
.theme--wow .ui-state-default a,
.theme--wow .ui-state-default a:link,
.theme--wow .ui-state-default a:visited,
.theme--wow a.ui-button,
.theme--wow a:link.ui-button,
.theme--wow a:visited.ui-button,
.theme--wow .ui-button,
.theme--wow .table-section thead th a,
.theme--wow .table-section tbody td a,
.theme--wow .page-item .page-link-custom,
.theme--wow .menuSubResp .card a.nav-item .material-icons.md-expand  {
	color: rgba(199,126,25,1);
}
.theme--wow a:hover,
.theme--wow a:focus,
.theme--wow .ui-state-hover,
.theme--wow .ui-widget-content .ui-state-hover,
.theme--wow .ui-widget-header .ui-state-hover,
.theme--wow .ui-state-focus,
.theme--wow .ui-widget-content .ui-state-focus,
.theme--wow .ui-widget-header .ui-state-focus,
.theme--wow .ui-button:hover,
.theme--wow .ui-button:focus,
.theme--wow .ui-state-hover a,
.theme--wow .ui-state-hover a:hover,
.theme--wow .ui-state-hover a:link,
.theme--wow .ui-state-hover a:visited,
.theme--wow .ui-state-focus a,
.theme--wow .ui-state-focus a:hover,
.theme--wow .ui-state-focus a:link,
.theme--wow .ui-state-focus a:visited,
.theme--wow a.ui-button:hover,
.theme--wow a.ui-button:focus,
.theme--wow .table-section thead th a:hover, 
.theme--wow .table-section tbody td a:hover,
.theme--wow .page-item .page-link-custom:hover,
.theme--wow .navbar.navbar-resp,
.theme--wow .navbar.navbar-resp a,
.theme--wow .navbar.navbar-resp a:hover,
.theme--wow .menuSubResp .card a.nav-item:hover .material-icons.md-expand  {
	color: rgba(248,183,0,1);
}
.theme--wow .inputCard--formHelp,
.theme--wow .sectionCard--content .content--footer {
	color: rgba(255,255,255,0.5);
}
.theme--wow .container--footer,
.theme--wow .raid-modal-body,
.theme--wow .modal-footer.raid-modal-footer,
.theme--wow .ui-datepicker.ui-widget-content,
.theme--wow .ui-datepicker .ui-widget-header,
.theme--wow .sectionCard,
.theme--wow .table-section thead tr.tr--paginationCount th,
.theme--wow .table-calendar {
	color: rgba(255,255,255,0.7);
}
.theme--wow .popover,
.theme--wow .popover-content .sectionCard .inputCard--LabelDetails--value,
.theme--wow .inputCard,
.theme--wow .inputCard:focus,
.theme--wow .custom-checkcheckbox,
.theme--wow .table-responsive .table-section { 
	color: rgba(255,255,255,1);
}
.theme--wow .raidCharacter--name span.signup--time{
	color: rgba(0,0,0,0.6);
}
.theme--wow .raidCharacter--name {
	color: rgba(0,0,0,0.8);
}
.theme--wow .menu .nav-chip--action {
    color: rgba(0,0,0,0.9);
}
.theme--wow .menu a.nav-link,
.theme--wow .menuSub a.dropdown-toggle,
.theme--wow .menuSub a,
.theme--wow .dropdown-menu a.nav-link,
.theme--wow .menuResp a.nav-link,
.theme--wow .menuSubResp .card a.nav-item,
.theme--wow .menuSubResp .card a.nav-link  {  
	color: rgba(247,250,229,0.7);
}
.theme--wow .div-raid .raid--date {
	color: rgba(247,250,229,0.8);
}
.theme--wow .menu .nav-chip--text,
.theme--wow .menuResp .nav-chip--text {
	color: rgba(247,250,229,0.9);
}
.theme--wow .inputCard--LabelDetails,
.theme--wow .inputCard--Label,
.theme--wow .popover-content .sectionCard .inputCard--LabelDetails,
.theme--wow .modal-header.raid-modal-header h4,
.theme--wow .ui-datepicker .ui-widget-header a,
.theme--wow .ui-datepicker .ui-datepicker-title,
.theme--wow .ui-datepicker th,
.theme--wow .ui-state-highlight,
.theme--wow .ui-widget-content .ui-state-highlight,
.theme--wow .ui-widget-header .ui-state-highlight,
.theme--wow .ui-state-highlight a,
.theme--wow .ui-widget-content .ui-state-highlight a,
.theme--wow .ui-widget-header .ui-state-highlight a,
.theme--wow .ui-state-highlight:hover,
.theme--wow .ui-widget-content .ui-state-highlight .ui-state-hover:hover,
.theme--wow .ui-widget-header .ui-state-highlight .ui-state-hover:hover,
.theme--wow .sectionCard--content.sectionCard--raidComment .comment--char,
.theme--wow .sectionCard--content .content--description,
.theme--wow .raidSignup--title,
.theme--wow .table-section thead th,
.theme--wow .page-item.active .page-link-custom,
.theme--wow .page-item.active .page-link-custom:hover,
.theme--wow .table-calendar thead th.th--title,
.theme--wow .menu a.nav-link:hover,
.theme--wow .menu a.nav-link.active,
.theme--wow .menuSub a.dropdown-toggle:hover,
.theme--wow .menuSub a.dropdown-toggle:active,
.theme--wow .menuSub a:hover,
.theme--wow .menuSub a:active,
.theme--wow .dropdown-menu a.nav-link:hover,
.theme--wow .modal-header.modal-resp-header,
.theme--wow .menuResp a.nav-link:hover,
.theme--wow .menuResp a.nav-link.active,
.theme--wow .menuSubResp .card a.nav-item:focus, 
.theme--wow .menuSubResp .card a.nav-item:hover,
.theme--wow .menuSubResp .card a.nav-link:hover,
.theme--wow .menuSubResp .card a.nav-link.active   {
	color: rgba(247,250,229,1);
}
.theme--wow .banner--title {
	color: rgba(247,250,229,0.3);
}
.theme--wow .popover-title {
	color: rgba(244,67,54,1);
}
.theme--wow .sectionCard--content .content--header {
	color: rgba(177,153,127,1);
}
.theme--wow .page-item.disabled .page-link-custom {
	color: rgba(199,126,25,0.3);
}
.theme--wow .menu .nav-chip--link,
.theme--wow .menu .nav-chip--link:visited {
	color: rgba(129,199,132,1);
}
.theme--wow .menu .nav-chip--link:hover {
	color: rgba(229,115,115,1);
}
/* color gradient 
* -------------------------------------*/
.theme--wow .sectionCard--header .header--title {
	background-image: -webkit-linear-gradient(top,#efd100 0,#e2a233 38%,#f0c328 60%,#fff1a3 86%,#ffe13e 100%);
    -webkit-background-clip: text;
    background-size: 1.875rem 1.875rem;
    -webkit-text-fill-color: transparent;
}
.theme--wow .sectionCard--header.comment--header .header--title {
	-webkit-text-fill-color: unset;
}
/* text-shadow 
* -------------------------------------*/
.theme--wow .banner--title {
	text-shadow: 0 0 8px rgba(102,170,57,0.5);
}
.theme--wow .sectionCard--content .content--header,
.theme--wow .menu a.nav-link,
.theme--wow .menu .nav-chip--text,
.theme--wow .menuResp .nav-chip--text,
.theme--wow .menu .nav-chip--link,
.theme--wow .menuSub a.dropdown-toggle,
.theme--wow .menuSub a,
.theme--wow .dropdown-menu a.nav-link,
.theme--wow .navbar.navbar-resp a,
.theme--wow .navbar.navbar-resp a:hover  {
	text-shadow: transparent 0px 0px 1px, rgba(0,0,0,0.8) 0px 1px 2px;
}
/* font 
* -------------------------------------*/
.theme--wow .menu .nav-chip--text,
.theme--wow .menuResp .nav-chip--text {
	font-weight: 500;
}
/*.theme--wow .menu,
.theme--wow .menuSub, */
.theme--wow .banner--title,
.theme--wow .menu .nav-chip--text,
.theme--wow .menuResp .nav-chip--text {
	font-family: "wow", "Arial", "Helvetica", sans-serif;
}
/* transition 
* -------------------------------------*/
.theme--wow .ui-state-default,
.theme--wow .ui-widget-content .ui-state-default,
.theme--wow .ui-widget-header .ui-state-default,
.theme--wow .ui-button,
.theme--wow .ui-state-default a,
.theme--wow .ui-state-default a:link,
.theme--wow .ui-state-default a:visited,
.theme--wow a.ui-button,
.theme--wow a:link.ui-button,
.theme--wow a:visited.ui-button,
.theme--wow .ui-button,
.theme--wow .ui-state-hover,
.theme--wow .ui-widget-content .ui-state-hover,
.theme--wow .ui-widget-header .ui-state-hover,
.theme--wow .ui-state-focus,
.theme--wow .ui-widget-content .ui-state-focus,
.theme--wow .ui-widget-header .ui-state-focus,
.theme--wow .ui-button:hover,
.theme--wow .ui-button:focus,
.theme--wow .ui-state-hover a,
.theme--wow .ui-state-hover a:hover,
.theme--wow .ui-state-hover a:link,
.theme--wow .ui-state-hover a:visited,
.theme--wow .ui-state-focus a,
.theme--wow .ui-state-focus a:hover,
.theme--wow .ui-state-focus a:link,
.theme--wow .ui-state-focus a:visited,
.theme--wow a.ui-button:hover,
.theme--wow a.ui-button:focus,
.theme--wow .ui-state-highlight,
.theme--wow .ui-widget-content .ui-state-highlight,
.theme--wow .ui-widget-header .ui-state-highlight,
.theme--wow .ui-state-highlight a,
.theme--wow .ui-widget-content .ui-state-highlight a,
.theme--wow .ui-widget-header .ui-state-highlight a,
.theme--wow .ui-state-highlight:hover,
.theme--wow .ui-widget-content .ui-state-highlight .ui-state-hover:hover,
.theme--wow .ui-widget-header .ui-state-highlight .ui-state-hover:hover {
	transition: background-color 0.3s ease-out;
}
/* button 
* -------------------------------------*/
.theme--wow .btn--hide,
.theme--wow .btn--hide:hover {
	opacity: 0;
}
.theme--wow .btn--bg,
.theme--wow a.btn--bg:not([href]):not([tabindex]) {
	background-color: rgba(0,0,0,0.3);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
	border: 1px solid rgba(199,126,25,1);
	color: rgba(248,183,0,1);
}
.theme--wow .btn--bg:hover,
.theme--wow a.btn--bg:not([href]):not([tabindex]):hover {
	background-color: rgba(176,102,1,1);
	border-color: rgba(199,126,25,1);
	color: rgba(247,250,229,1);
}
.theme--wow .div--fileUpload:hover .btn--bg {
	background-color: rgba(176,102,1,1);
	border-color: rgba(199,126,25,1);
	color: rgba(247,250,229,1);
}
.theme--wow .btn--bg-sort {
	background-color: transparent;
	color: rgba(199,126,25,1);
	box-shadow: none;
}
.theme--wow .btn--bg-sort:hover {
	background-color: transparent;
	color: rgba(248,183,0,1);
}
.theme--wow .btn--bg-delete {
	background-color: rgba(159,22,0,0.6);
	border-color: rgba(234,48,18,1);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
	color: rgba(247,250,229,0.7);
}
.theme--wow .btn--bg-delete:hover{
	background-color: rgba(159,22,0,1);
	color: rgba(247,250,229,1);
}
.theme--wow .btn--outline {
	background-color: rgba(0,0,0,0.3);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
	border-color: rgba(80,65,55,1);
	color: rgba(199,126,25,1);
}
.theme--wow .btn--outline:hover {
	border-color: rgba(199,126,25,1);
	color: rgba(248,183,0,1);
}
.theme--wow .btn--characterApprove {
	background-color: rgba(0,150,136,0.7);
	border-color: rgba(19,255,41,0.5);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
	color: rgba(255,255,255,0.7);
}
.theme--wow .btn--characterApprove:hover{
	background-color: rgba(0,150,136,1);
	border-color: rgba(19,255,41,0.3);
	color: rgba(255,255,255,1);
}
.theme--wow .btn--characterQueue {
	background-color: rgba(0,0,0,0.3);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
	border: 1px solid rgba(199,126,25,1);
	color: rgba(248,183,0,1);
}
.theme--wow .btn--characterQueue:hover{
	background-color: rgba(176,102,1,1);
	border-color: rgba(199,126,25,1);
	color: rgba(247,250,229,1);
}
.theme--wow .btn--characterCancel {
	background-color: rgba(159,22,0,0.6);
	border-color: rgba(234,48,18,1);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
	color: rgba(247,250,229,0.7);
}
.theme--wow .btn--characterCancel:hover{
	background-color: rgba(159,22,0,1);
	color: rgba(247,250,229,01);
}
.theme--wow .btn--characterCommentExist {
	box-shadow: 0 0 0 1px rgba(255,255,255,0.2);
	animation-duration: 1.5s;
	animation-name: commentExist;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.theme--wow .btn--characterCommentExist:hover{
	background-color: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
	animation-iteration-count: 0;
}
@keyframes commentExist {
  from {
    background-color: rgba(46,46,46,0.7);
	color: rgba(255,255,255,0.2);
  }
  to {
    background-color: rgba(46,46,46,1);
	color: rgba(255,255,255,1);
  }
}
.theme--wow .icone--approved {	
	background-color: rgba(0,150,136,1);
	border-color: rgba(19,255,41,0.3);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
	color: rgba(255,255,255,1);
}
.theme--wow .icone--queued {
	background-color: rgba(255,152,0,1);
	border: 1px solid rgba(199,126,25,1);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
	color: rgba(255,255,255,1);
}
.theme--wow .icone--cancelled {
	background-color: rgba(244,67,54,1);
	border-color: rgba(234,48,18,1);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
	color: rgba(255,255,255,1);
}
.theme--wow .icone--frozen {
	background-color: rgba(159,22,0,0.6);
	border-color: rgba(234,48,18,1);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
	color: rgba(247,250,229,0.7);
}
.theme--wow .icone--announce {
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2);	
	border: 1px solid rgba(248,183,0,1);
	color: rgba(248,183,0,1);
}
/* wow class 
* -------------------------------------*/
.theme--wow .bg-class--Warrior,
.theme--wow .bg-class--Guerrier {
    background-color: #c69b6d;
	color: #000;
}
.theme--wow .bg-class--Paladin,
.theme--wow .bg-class--Paladin {
    background-color: #f48cba;
	color: #000;	
}
.theme--wow .bg-class--Hunter,
.theme--wow .bg-class--Chasseur {
    background-color: #aad372;
	color: #000;
}
.theme--wow .bg-class--Rogue,
.theme--wow .bg-class--Voleur {
    background-color: #fff468;
	color: #000;
}
.theme--wow .bg-class--Priest,
.theme--wow .bg-class--Pretre {
    background-color: #f0ebe0;
	color: #000;
}
.theme--wow .bg-class--Deathknight,
.theme--wow .bg-class--Chevalier {
    background-color: #c41e3b;
	color: #000;
}
.theme--wow .bg-class--Shaman,
.theme--wow .bg-class--Chaman {
    background-color: #2359ff;
	color: #000;
}
.theme--wow .bg-class--Mage,
.theme--wow .bg-class--Mage {
    background-color: #68ccef;
	color: #000;
}
.theme--wow .bg-class--Warlock,
.theme--wow .bg-class--Demoniste {
    background-color: #9382c9;
	color: #000;
}
.theme--wow .bg-class--Monk,
.theme--wow .bg-class--Moine {
    background-color: #00ffba;
	color: #000;
}
.theme--wow .bg-class--Druid,
.theme--wow .bg-class--Druide {
    background-color: #ff7c0a;
	color: #000;
}
.theme--wow .bg-class--DemonHunter,
.theme--wow .bg-class--DemonHunter {
    background-color: #a330c9;
	color: #000;
}